<form>
  <fieldset>
    <div>
      <label for="Apellido">Apellido</label>
        <input type="text" class="form-control" formControlName="lName" placeholder="Ingrese Apellido/s">
    </div>
    <div>
      <label for="Nombre">Nombre</label>
      <input type="text" class="form-control" formControlName="fName" placeholder="Ingrese Nombre/s">
    </div>
    <div>
      <label for="Nick">Usuario</label>
      <input type="text" class="form-control" formControlName="nName" placeholder="Ingrese nick">
    </div>
    <div>
      <label for="Email">Email</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Ingrese ejemplo@mail.com">
    </div>
    <div>
      <input type="password" class="form-control" formControlName="passw" placeholder="Ingresar clave">
    </div>
    <div>
      <input type="password" class="form-control" formControlName="cpass" placeholder="Confirmar clave">
    </div>
  </fieldset>
  
</form>

  
  
