<form (ngSubmit)="ngOnSubmit()"><!--[formGroup]="formulario" -->
    <!-- Otros campos del usuario -->
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" formControlName="password" />
      <div *ngIf="formulario.get('password').hasError('required')">La contraseña es obligatoria.</div>
      <div *ngIf="formulario.get('password').hasError('invalidPassword')">La contraseña no cumple con los requisitos.</div>
    </div>
  
    <div>
      <label for="confirmPassword">Confirmar Contraseña:</label>
      <input type="password" formControlName="confirmPassword" />
      <div *ngIf="formulario.hasError('passwordsNotMatch')">Las contraseñas no coinciden.</div>
    </div>
  
    <button type="submit">Registrar</button><!--[disabled]="formulario.invalid"-->
  </form>

  
  
